<%= turbo_frame_tag recipe, class: 'col-sm-6 col-md-4 col-lg-3' do %>
  <div class="border border-dark p-2 h-100">
    <p>
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p>
      <strong>Ingredients:</strong>
      <%= recipe.ingredients %>
    </p>

    <p>
      <strong>Instructions:</strong>
      <%= recipe.instructions %>
    </p>

    <p>
      <strong>Image url:</strong>
      <%= recipe.image_url %>
    </p>

    <div>
      <%= link_to "Edit", edit_recipe_path(recipe), class: 'btn btn-secondary d-inline-block' %>
      <%= button_to "Remove", recipe, method: :delete, class: 'btn btn-danger d-inline-block' %>
    </div>
  </div>
<% end -%>
